{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
{{#post}}
<main id="main-content" class="single">

    {{!-- Location: partials/post/post-page.hbs --}}
    {{> "post/post-page"}}

    <!-- COLLECTIVE WIDGET CODE START -->
    <div class="sc-look-widget" style="text-align:center" data-options="%7B%22frameUrl%22%3A%22%2F%2Fshopsensewidget.shopstyle.com%2Flook-widget%2Findex.html%3Fwidgetid%3D5d0c4447646e85e805c4302b%22%7D">
         <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/look-widget-script/assets/build/look-widget-script.js?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.scLookWidget === 'object'){ if(doc.readyState === 'complete'){ window.scLookWidget.init(); } } }(document, 'script', 'sc-look-widget-script');
         </script>  

     </div> <!-- COLLECTIVE WIDGET CODE END -->

</main>
{{/post}}
