{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
{{#post}}
<main id="main-content" class="single">

    {{!-- Location: partials/post/post-page.hbs --}}
    {{> "post/post-page"}}

</main>
{{/post}}