<footer id="footer" class="site-footer">

    <div container="">
        <!-- SnapWidget -->
        <iframe src="https://snapwidget.com/embed/666565" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:495px; height:330px"></iframe>
        <div style="font:10px/14px 'Roboto','Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:400;width:495px;text-align:right"><a href="https://snapwidget.com" style="color:#777;text-decoration:none;">SnapWidget · Instagram Widget</a></div>
    </div>
    <div class="container">

        <div class="footer-wraps">

            <div class="footer-wrap-left footer-wrap">
                <div class="footer-widget">

                    {{!-- Location: partials/widget/recent-post.hbs --}}
                    {{> "widget/recent-posts"}}

                </div>
            </div>

            <div class="footer-wrap-right footer-wrap">
                <div class="footer-widget">

                    {{!-- Location: partials/widget/subscriber.hbs --}}
                    {{> "widget/subscriber"}}

                </div>
            </div>

        </div>

    </div>
    <div class="copyright">{{{t "Copyright &copy;"}}} {{date format="YYYY"}} - <a href="{{@blog.url}}">{{@blog.title}}</a></div>
</footer>
