<nav class="main-menu">
    {{#if @blog.navigation}}
        {{navigation}}
    {{/if}}
    
    <div class="nav-search">
        <a href="#" class="toggle-search-button js-search-toggle">
            <span class="ion-ios-search"></span>
        </a>
    </div>
</nav>