<aside class="sidebar">

    <a href="#" class="sidebar-toggle"><span class="ion-ios-close-empty"></span></a>

    <div class="responsive-menu widget widget_responsive_menu">
        <h4 class="widget-title">{{t "Menu"}}</h4>
        {{#if @blog.navigation}} 
            {{navigation}} 
        {{/if}}
    </div>

</aside>
<div class="sidebar-overlay"></div>