<div class="search-wrap js-search">
    <div class="search-container">
        <div class="search-form">
            <form class="search-field">
                <span class="ion-close search-close js-search-close"></span>
                <input class="search-input js-search-input" placeholder="{{t "Type to Search"}}" type="search">
                <p class="search-info js-search-info">{{t "Input your search keywords"}}</p>
            </form>
        </div>

        <div class="search-results js-search-results"></div>
    </div>    
</div>