<article id="post" class="post-{{comment_id}} {{post_class}}">

	{{!-- Location: partials/post/post-title.hbs --}}
	{{> "post/post-title"}}

	<div class="inner">
		<div class="post-content">
			{{content}}

			{{!-- Location: partials/post/post-meta.hbs --}}
			<!-- {{> "post/post-meta"}} -->

			{{!-- Location: partials/post/post-sharing.hbs --}}
			{{> "post/post-sharing"}}

			{{!-- Location: partials/post/post-author.hbs --}}
			<!-- {{> "post/post-author"}} -->
		</div>
		<div class="sidebar-post">
			<p>This is a test of the sidebar</p>

			<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/f035b1b7804a5a0fa32c5e014e0aa9e0.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
		</div>
	</div>

</article>
