<article id="post" class="post-{{comment_id}} {{post_class}}">
	
	{{!-- Location: partials/post/post-title.hbs --}}
	{{> "post/post-title"}}

	<div class="inner">
		<div class="post-content">
			{{content}}
		</div>
	</div>

</article>