<article id="post" class="post-{{comment_id}} {{post_class}}">

	{{!-- Location: partials/post/post-title.hbs --}}
	<!-- {{> "post/post-title"}} -->
	<h1 class="post-title">The Black Denims Shop</h1>

	<div class="inner">
		<div class="post-content">
			{{content}}
		</div>
	</div>

	<!-- COLLECTIVE WIDGET CODE START -->
	<div class="sc-look-widget" style="text-align:center" data-options="%7B%22frameUrl%22%3A%22%2F%2Fshopsensewidget.shopstyle.com%2Flook-widget%2Findex.html%3Fwidgetid%3D5d0c4447646e85e805c4302b%22%7D">
		<script>
		!function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/look-widget-script/assets/build/look-widget-script.js?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.scLookWidget === 'object'){ if(doc.readyState === 'complete'){ window.scLookWidget.init(); } } }(document, 'script', 'sc-look-widget-script');
		</script>
	</div> <!-- COLLECTIVE WIDGET CODE END -->

</article>
